* {
  box-sizing: border-box;
}

body, html {
	margin: 0;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
}

.gameHeader{
  text-align: center;
  color: #b99030;
  font-family:OPTIEngeEtienne;
  font-size: 50px;
  text-shadow:2px 0 0 #C7CBD4,0 2px 0 #C7CBD4,-2px 0 0 #C7CBD4,0 -2px 0 #C7CBD4;
  background: url("https://github.com/MichaelRMC/Palamecia-Media/blob/main/assets/header.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
  width: 100%;
  position:relative;
  overflow: hidden;
  opacity: 0.6;
  line-height: 2.8em; 
}

.container {
  display: grid; 
  grid-template-columns: 70% 30%;
  grid-template-areas:"inventory form"
                      "inventory form"
                      "inventory form";
    
}
#inventory {
  display: grid;
  grid-template-areas: "boxArt  name"
                       "boxArt genre"
                       "  .    price"
                       "  .  inStock"
                       "  .   remove";
}





